/* Ajuste global para imagens em .project-title */
.project-title {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.project-img {
    display: block;
    width: 120%;
    max-width: none;
    height: auto;
    margin: 0 -10% 0 -10%;
    border-radius: 0;
    box-shadow: 0 0 16px rgba(0,0,0,0.04);
}

